/*PodcastShow.css*/

.podcast-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 1, 30, 0.5);
    
  }
  
  .podcast-details {
    background-color: #01171a;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: red;
  }
   

.podcast-img{
    border-radius: 20%;
    width: 100px;
    height: 100px;
}


.grid-table {
  display: grid;
  grid-template-columns: 2fr;
  gap: 10px;
}

.grid-table-header {
  font-weight: bold;
  display: grid;
  grid-template-columns: 2fr; 
  gap: 5px;
}

.grid-table-row {
  display: grid;
  grid-template-columns: 2fr ;
  gap: 10px;
}
.description {
  /* Add your styles for the episode and season descriptions */
  margin-bottom: 2px;
  background-color: '#f0f0f0';
  border-radius: 8;
  padding: 2px;
  box-shadow: '0 2px 4px rgba(0, 0, 0, 0.2)';
}