

.podcast-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #d7f5f7;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

  }
  
  .podcast-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .podcast-card--image {
width: 100px;
    height: 150px; /* Customize the height as needed */
    object-fit: fill; /* Maintain aspect ratio and cover the container */
    border-radius: 4px;
  }
  
  .podcast-card--title {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #333;
  }
  
  /* Optional: Add additional styles for more customization */
  